{% load static i18n cms_tags sekizai_tags %}

{% if not customer.is_authenticated %}
    {% addtoblock "ng-requires" %}myauthApp{% endaddtoblock %}

    {% block shop-auth-modal-dialog %}
    <script id="ShopAuthModalDialog.html" type="text/ng-template">
        <div ng-if="action=='auth'">
            <div class="modal-header">
                <h3 class="modal-title">Войти</h3>
                <a class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                {% include 'myauth/auth_modal/signin.html' with action='RELOAD_PAGE'%}
            </div>
        </div>
        <div ng-if="action=='reg'">
            <div class="modal-header">
                <h3 class="modal-title">Регистация</h3>
                <a class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                {% include 'myauth/auth_modal/signup.html' with action='RELOAD_PAGE'%}
            </div>
        </div>
        <div ng-if="action=='reset'">
            <div class="modal-header">
                <h3 class="modal-title">Восстановление пароля</h3>
                <a class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                {% include 'myauth/auth_modal/password_reset.html' with action='DO_NOTHING'%}
            </div>
        </div>
    </script>
    {% endblock shop-auth-modal-dialog  %}
{% endif %}