{% extends "myauth/forms/password_reset.html" %}
{% load i18n %}

{% block form_footer %}
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a role="button" class="btn btn-xs btn-gray btn-block"  
                            ng-click="$parent.setAction('auth')">Вернуться</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a role="button" class="btn btn-xs btn-block btn-second"
                            ng-click="submitForm('{% url 'myauth:password-reset' %}')" 
                            ng-disabled="reset_form.$invalid">Запросить пароль</a>
                </div>
            </div>
        </div>
{% endblock %}