{% extends "myauth/forms/signin.html" %}
{% load i18n %}

{% block form_footer %}
    <div class="form-group">
        <a href="#" class="modal-link" ng-click="$parent.setAction('reset')">Напомнить пароль</a>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <button class="btn btn-xs btn-block btn-main"
                    ng-click="$parent.setAction('reg')">Зарегистрироваться</button>
            </div>
            <div class="col-xs-12 col-sm-6">
                <button class="btn btn-xs btn-block btn-second" 
                    ng-disabled="processing"
                    ng-click="processing || submitForm('{% url 'myauth:login' %}')"
                    ng-disabled="auth_form.$invalid">Войти</button>
            </div>
        </div>
    </div>
{% endblock %}