{% extends "myauth/forms/signup.html" %}
{% load i18n %}

{% block form_footer %}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a role="button" class="btn btn-xs btn-gray btn-block"  
                        ng-click="$parent.setAction('auth')">Вернуться</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a role="button" class="btn btn-xs btn-second btn-block"  
                        ng-disabled="processing"
                        ng-click="processing || submitForm('{% url 'myauth:register-user' %}')" 
                        ng-disabled="register_user_form.$invalid">Зарегистрироваться</a>
            </div>
        </div>
    </div>
{% endblock %}