<div class="photoswipe-item">
    <a class="image" 
        href="{{item.image}}"
        style="background: url({{item.thumb}}) center center no-repeat;background-size: cover;">
        <img src="{{item.image}}" title="{{item.title}}" alt="{{item.description}}" class="img-responsive" />
    </a>
</div>