{% for item in results %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="gallery-item">
        {% include "gallery/item.html" %}
    </div>
</div>
{% endfor %}
{% if next %}
    <div class="section-footer col-xs-12">
        <a onclick="loadMore('{{next}}', '#gallery-container', this);" class="btn btn-lg btn-gray">Показать еше</a>
    </div>
{% endif %}