{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
        function loadMore(url, container, button){
            $.ajax({
                url: url,
                dataType : "html", 
                success: function (data) { 
                    $(button).parent().remove();
                    $(container).append(data);
                    if(DesignLayout)
                        DesignLayout.initPhotoswipe();
                } 
            });
        }
</script>
{% endaddtoblock %}

<div class="photoswipe-wrapper">
    <div class="row" id="gallery-container">
        {% include "gallery/list.html" %}
    </div>
</div>
