{% load static i18n cms_tags sekizai_tags %}
{{ sezikai_ctx_var }}

{% addtoblock "ng-requires" %}bookingApp{% endaddtoblock %}
<section class="order__form">
    <div class="overlay"></div>
    <div class="container">
        <h2 class="section-header">{{title}}</h2>
        <booking sids="[{% for service in services %}{{service}},{% endfor%}]" 
                 url="'{% url 'booking:checkin' %}'"></booking>

    </div>
</section>