{% load static i18n cms_tags sekizai_tags %}
{{ sezikai_ctx_var }}

{% addtoblock "ng-requires" %}scheduleApp{% endaddtoblock %}
<div {% if request.toolbar.edit_mode %}class="cms-uneditable"{% endif %}>
    <schedule sids="[{% for service in services %}{{service}},{% endfor %}]"></schedule>
</div>
