<div class="news news--{{size}}" id="item-{{ article.pk }}">
    <div class="news__image" style="background: url({{article.thumb}}) center center no-repeat;background-size: cover;"></div>
    <div class="news__info">
        <div class="news__date">{{article.created}}</div>
        <h3>{{article.name}}</h3>
        {{article.description|safe}}
        {% if article.text %}
            <a href="{% url 'news:detail' article.slug %}" class="btn btn-xs btn-white">Читать статью</a>
        {% elif article.embed %}
            <div class="photoswipe-wrapper">
                <div class="photoswipe-item">
                    <a href="#"  class="btn btn-xs btn-white video" data-type="video" 
                        data-video='{% autoescape off %}<div class="wrapper"><div class="video-wrapper">{{article.embed|safe}}</div></div>{% endautoescape %}'>Смотреть
                        <img src="http://placehold.it/100x100?text=YouTube" class="img-responsive" style="display: none"/></a>     
                </div>
            </div>
        {% endif %}
    </div>
</div>