{% load thumbnail %}
{% thumbnail article.image 1200x800 as thumb %}
<div class="date">{{article.created|date:"d.m.y"}}</div>
<h2>{{article.name}}</h2>
<img src="{{thumb.url}}" class="img-responsive" alt="" />
{{article.text|safe}}