{% spaceless %}
<div class="sequence-container visible-lg">
    {% for article in results %}
        {% if forloop.counter == 1 %}
            <div class="sequence-block sequence-first">
            {% include "news/article-teaser.html" with article=article size="small" %}
                {% if forloop.last %}
                    </div>
                {% endif %}
        {% elif forloop.counter == 2 %}
            {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% elif forloop.counter == 3 %}
            <div class="sequence-block sequence-second">
                {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% elif forloop.counter == 4 %}
            <div class="sequence-block sequence-second">
                {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% elif forloop.counter == 5 %}
            <div class="sequence-block sequence-first">
                {% include "news/article-teaser.html" with article=article size="small" %}
                {% if forloop.last %}
                    </div>
                {% endif %}
        {% elif forloop.counter == 6 %}
                {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="sequence-container visible-md">
    {% for article in results %}
        {% if forloop.counter == 1 %}
            <div class="sequence-block sequence-second">
            {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% elif forloop.counter == 2 %}
            <div class="sequence-block sequence-first">
            {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% elif forloop.counter == 3 %}
            <div class="sequence-block sequence-first">
                {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% elif forloop.counter == 4 %}
            <div class="sequence-block sequence-second">
                {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% elif forloop.counter == 5 %}
            <div class="sequence-block sequence-second">
                {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% elif forloop.counter == 6 %}
            <div class="sequence-block sequence-first">
                {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="sequence-container visible-sm visible-xs">
    {% for article in results %}
        {% if forloop.counter == 1 %}
            <div class="sequence-block sequence-first">
            {% include "news/article-teaser.html" with article=article size="small" %}
                {% if forloop.last %}
                    </div>
                {% endif %}
        {% elif forloop.counter == 2 %}
            {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% elif forloop.counter == 3 %}
            <div class="sequence-block sequence-second">
                {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% elif forloop.counter == 4 %}
            <div class="sequence-block sequence-first">
            {% include "news/article-teaser.html" with article=article size="small" %}
                {% if forloop.last %}
                    </div>
                {% endif %}
        {% elif forloop.counter == 5 %}
            {% include "news/article-teaser.html" with article=article size="small" %}
            </div>
        {% elif forloop.counter == 6 %}
            <div class="sequence-block sequence-second">
                {% include "news/article-teaser.html" with article=article size="large" %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% if next %}
<div class="section-footer" >
    <a onclick="loadMore('{{next}}', '#articles-container', this);" class="btn btn-lg btn-gray">Ещё новости</a>
</div>
{% endif %}
{% endspaceless %}