{% extends "default.html" %}
{% load sekizai_tags %}

{% block content %}
    {% addtoblock "js" %}
    <script type="text/javascript">
            function loadMore(url, container, button){
                $.ajax({
                    url: url,
                    dataType : "html", 
                    success: function (data) { 
                        $(button).parent().remove();
                        $(container).append(data);
                        if(DesignLayout)
                            DesignLayout.initPhotoswipe();
                    } 
                });
            }
    </script>
    {% endaddtoblock %} 
    <section class="section-news">
        <div id="articles-container">
            {% include "news/articles-list.html" %}
        </div>
    </section>
{% endblock %}