{% extends "default.html" %}
{% block page_class %}
page post
{% endblock %}
{% block content %} 
    <section class="post__section">
        <div class="container">
            {% include "news/article-detail.html" %}
        </div>
    </section>
{% endblock %}