{% extends "myauth/email/default.html" %}

{% block email-body %}
<h3 style="margin: 0; font-size: 28px; line-height: 36px;">Здравствуйте, {{customer.name}}!</h3>
Информация о регистрации на сайте : 
<br/><br/>
<table style="color: #444; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;">
    <tr>
        <td class="well" style="font-size: 16px; line-height: 23px; border-collapse: collapse; text-align: left; color: #444; padding: 15px; background: #fafafa; border: 1px solid #ddd; font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;" align="left">
            E-Mail: {{email}}<br/>
            Ваш пароль: <strong>{{password}}</strong>
        </td>
    </tr>
</table>
<p>
Спасибо, что используете наш сайт!<br/>
Команда сайта spbfencing.ru
</p>
{% endblock %}