{% extends "myauth/email/default.html" %}
{% load i18n %}
{% block email-body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user
account '{{ user }}' at {{ site_name }}.{% endblocktrans %}</p>
<p>{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
<p>
    {% trans "Thanks for using our site!" %}<br/>
    {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
</p>
{% endblock %}