<my-auth-form ng-form name="{% block form_name %}{% endblock %}" 
              form-submit-url="{% block submit_url %}{% endblock %}"
              action="{{ action }}" 
              role="form" 
              class="form form-style" >
    {% csrf_token %}
    {% block form_content %}
    <div class="alert alert-success" ng-show="success_message" ng-cloak>{% verbatim %}{{ success_message }}{% endverbatim %}
    </div>
    <div class="alert alert-danger" ng-show="error_message" ng-cloak>{% verbatim %}{{ error_message }}{% endverbatim %}
    </div>
    {% endblock%}

    {% block form_footer %}
    {% endblock %}
</my-auth-form>