{% extends "myauth/forms/base.html" %}
{% load i18n %}

{% block form_name %}reset_form{% endblock %}

{% block submit_url %}{% url 'myauth:password-reset' %}{% endblock %}
{% block form_content %}
    {{ block.super }}
    <div class="form-group pendant-help-block has-feedback" ng-class="hasError('email')">
            <input type="email" class="form-control" name="email" ng-model="form_data.email" value="" placeholder="Ваша электронная почта" ng-required="true"/>
            <ul ng-messages="reset_form.email.$error" class="shop-form-error" ng-cloak>
                <li ng-show="reset_form.email.$dirty" ng-message="email">Укажите правильный E-Mail</li>
                <li ng-show="reset_form.email.$pristine" ng-message="rejected"><span ng-bind="reset_form.email.$message"></span></li>
            </ul>
    </div>
{% endblock %}

{% block form_footer %}
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a role="button" class="btn btn-xs btn-gray btn-block"  
                            ng-click="$parent.setAction('auth')">Вернуться</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a role="button" class="btn btn-xs btn-block btn-second"
                            ng-click="submitForm('{% url 'myauth:password-reset' %}')" 
                            ng-disabled="reset_reset_form.$invalid">Запросить пароль</a>
                </div>
            </div>
        </div>
{% endblock %}