{% extends "myauth/forms/base.html" %}
{% load i18n %}

{% block form_name %}password_reset_confirm{% endblock %}

{% block submit_url %}.{% endblock %}
{% block form_content %}
    {{ block.super }}
        <div class="form-group pendant-help-block has-feedback"  ng-class="hasError('password')">
            <div class="input-group" ng-class="hasError('new_password1')"> 
                <input type="password" class="form-control" name="new_password1" ng-minlength="6" ng-required="true" ng-model="form_data['new_password1']" placeholder="Пароль" ng-required="true"/>
            </div>
            <ul ng-messages="password_reset_confirm.new_password1.$error" class="shop-form-error" ng-cloak>
                <li ng-message="minlength">Пароль слишком короткий</li>
                <li ng-message="rejected"><span ng-bind="password_reset_confirm.new_password1.$message"></span></li>
            </ul>
            <span class="help-block">Мин. длинна: 6 символов</span>
        </div>
        <div class="form-group pendant-help-block has-feedback"  ng-class="hasError('new_password2')">
            <div class="input-group" ng-class="hasError('new_password2')">
                <input type="password" class="form-control" name="new_password2"  ng-minlength="6" ng-required="true" ng-model="form_data['new_password2']" placeholder="Повсторите пароль" ng-required="true"/>
            </div>
            <ul ng-messages="password_reset_confirm.new_password2.$error" class="shop-form-error" ng-cloak>
                <li ng-message="minlength">Пароль слишком короткий</li>
                <li ng-message="rejected"><span ng-bind="password_reset_confirm.new_password2.$message"></span></li>
            </ul>
            <span class="help-block"></span>
        </div>
{% endblock %}

{% block form_footer %}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <a role="button" class="btn btn-sm btn-second btn-block" 
                        ng-click="submitForm('.')" 
                        ng-disabled="password_reset_confirm.$invalid">Изменить пароль</a>
            </div>
        </div>
    </div>
{% endblock %}
