{% extends "myauth/forms/base.html" %}
{% load i18n %}

{% block form_name %}profile_edit_form{% endblock %}

{% block submit_url %}{% url 'myauth:profile-edit' %}{% endblock %}
{% block form_content %}
    {{ block.super }}
    <h4>Расскажите о себе</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group pendant-help-block has-feedback" ng-class="hasError('name')">
                <input type="text" name="name" class="form-control" placeholder="Имя"
                       ng-model="form_data['name']"
                       ng-required="true"
                       ng-init="form_data['name']='{{profile_edit_form.name.value}}'"/>
                <ul ng-messages="profile_edit_form.name.$error" class="shop-form-error" ng-cloak>
                    <li ng-show="profile_edit_form.name.$pristine" ng-message="rejected">
                        <span ng-bind="profile_edit_form.name.$message"></span>
                    </li>
                </ul>
            </div>
            <!-- Внимание!!! Дублирование поля Возраст для хорошего порядка на мобилах!!! -->
            <div class="form-group pendant-help-block hidden-xs">
                <input type="text" ng-model="form_data['age']"  value="{{profile_edit_form.age.value}}" initial-value name="age" class="form-control" placeholder="Возраст"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group has-feedback"  g-class="hasError('surname')">
                <input type="text" name="surname" class="form-control" placeholder="Фамилия"
                       ng-model="form_data['surname']"
                       ng-required="true"
                       ng-init="form_data['surname']='{{profile_edit_form.surname.value}}'"/>
                <ul ng-messages="profile_edit_form.surname.$error" class="shop-form-error" ng-cloak>
                    <li ng-show="profile_edit_form.surname.$pristine" ng-message="rejected">
                        <span ng-bind="profile_edit_form.surname.$message"></span>
                    </li>
                </ul>
            </div>
            <!-- Внимание!!! Дублирование поля Возраст для хорошего порядка на мобилах!!! -->
            <div class="form-group pendant-help-block visible-xs">
                <input type="text" ng-model="form_data['age']" value="{{profile_edit_form.age.value}}" initial-value name="age" class="form-control" placeholder="Возраст" />
            </div>
            <div class="form-group pendant-help-block">
                <div class="label">Пол: </div>
                <div class="radio" ng-init="form_data['sex']='{{profile_edit_form.sex.value}}'">
                    <label><input type="radio" name="sex" ng-model="form_data['sex']" value="male">Мужской</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="sex" ng-model="form_data['sex']" value="female">Женский</label>
                </div>
            </div>
        </div>
    </div>

    <h4>Контактные данные</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group pendant-help-block">
                <input type="text" name="phone" class="form-control" placeholder="Телефон"
                       ng-model="form_data['phone']"
                       ng-required="true"
                       ng-init="form_data['phone']='{{profile_edit_form.phone.value}}'"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group has-feedback" ng-class="hasError('email')">                
            <input type="text" name="email" class="form-control" placeholder="E-Mail"
                       ng-model="form_data['email']"
                       ng-required="true"
                       ng-init="form_data['email']='{{profile_edit_form.email.value}}'"/>
                <ul ng-messages="profile_edit_form.email.$error" class="shop-form-error" ng-cloak>
                    <li ng-show="profile_edit_form.email.$dirty" ng-message="email">Укажите правильный E-Mail</li>
                    <li ng-show="profile_edit_form.email.$pristine" ng-message="rejected"><span ng-bind="profile_edit_form.email.$message"></span></li>

                </ul>
            </div>
        </div>
    </div>
    <h4>Изменить пароль</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group pendant-help-block has-feedback"  ng-class="hasError('password')">
                <div class="input-group" ng-class="hasError('password1')"> 
                    <input type="password" class="form-control" name="password1" ng-minlength="6" ng-required="false" ng-model="form_data['password1']" placeholder="Пароль"/>
                </div>
                <ul ng-messages="profile_edit_form.password1.$error" class="shop-form-error" ng-cloak>
                    <li ng-message="minlength">Пароль слишком короткий</li>
                    <li ng-message="rejected"><span ng-bind="profile_edit_form.password1.$message"></span></li>
                </ul>
                <span class="help-block">Мин. длинна: 6 символов</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group pendant-help-block has-feedback"  ng-class="hasError('password2')">
                <div class="input-group" ng-class="hasError('password2')">
                    <input type="password" class="form-control" name="password2"  ng-minlength="6" ng-required="false" ng-model="form_data['password2']" placeholder="Повторите пароль"/>
                </div>
                <ul ng-messages="profile_edit_form.password2.$error" class="shop-form-error" ng-cloak>
                    <li ng-message="minlength">Пароль слишком короткий</li>
                    <li ng-message="rejected"><span ng-bind="profile_edit_form.password2.$message"></span></li>
                </ul>
                <span class="help-block"></span>
            </div>
        </div>
    </div>

{% endblock %}

{% block form_footer %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 with-btn">
                <button class="btn btn-lg btn-main" 
                        ng-click="submitForm('{% url 'myauth:profile-edit' %}')" 
                        ng-disabled="profile_edit_form.$invalid">Cохранить</button>
        </div>
    </div>
{% endblock %}