{% extends "myauth/forms/base.html" %}
{% load i18n %}

{% block form_name %}auth_form{% endblock %}
{% block submit_url %}{% url 'myauth:login' %}{% endblock %}
{% block form_content %}
    {{ block.super }}
    <div class="form-group pendant-help-block has-feedback" ng-class="hasError('username')">
        <input type="text" class="form-control" name="username" 
                   ng-model="form_data.username" value="" 
                   placeholder="Электронная почта" ng-required="true"/>
        <ul ng-messages="auth_form.username.$error" class="shop-form-error" ng-cloak>
            <li ng-message="rejected"><span ng-bind="auth_form.username.$message"></span></li>
        </ul>
    </div>

    <div class="form-group pendant-help-block" ng-class="hasError('password')">  
        <input type="password" class="form-control" 
                   name="password" ng-model="form_data.password" 
                   placeholder="Пароль" ng-required="true"/>
        <ul ng-messages="auth_form.password.$error" class="shop-form-error" ng-cloak>
            <li ng-message="rejected"><span ng-bind="auth_form.password.$message"></span></li>
        </ul>
    </div>


    <div class="form-group">
        <div class="checkbox">
            
        </div>
        <p class="small"></p>
    </div>
{% endblock %}

{% block form_footer %}
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3 ">
            <a role="button" class="btn btn-sm btn-block btn-second"
                    ng-click="submitForm('{% url 'myauth:login' %}', 0)"
                    ng-disabled="auth_form.$invalid">Войти</a>
        </div>
    </div>
{% endblock %}