{% extends "myauth/forms/base.html" %}
{% load i18n %}

{% block form_name %}register_user_form{% endblock %}
{% block submit_url %}{% url 'myauth:register-user' %}{% endblock %}
{% block form_content %}
    {{ block.super }}
    <div class="form-group pendant-help-block has-feedback" ng-class="hasError('name')">
        <input type="text" class="form-control" name="name" ng-model="form_data['name']" placeholder="Ваше имя"  ng-required="true"/>
        <ul ng-messages="register_user_form.name.$error" class="shop-form-error" ng-cloak>
            <li ng-show="register_user_form.name.$pristine" ng-message="rejected">
                <span ng-bind="register_user_form.name.$message"></span>
            </li>
        </ul>
    </div>

    <div class="form-group has-feedback"  g-class="hasError('surname')">
        <input type="text" class="form-control" name="surname" ng-model="form_data['surname']" placeholder="Ваша фамилия" ng-required="true"/>
        <ul ng-messages="register_user_form.surname.$error" class="shop-form-error" ng-cloak>
            <li ng-show="register_user_form.surname.$pristine" ng-message="rejected">
                <span ng-bind="register_user_form.surname.$message"></span>
            </li>
        </ul>
    </div>

    <div class="form-group pendant-help-block ">
        <input type="text" class="form-control" name="phone" ng-model="form_data['phone']" placeholder="Телефон"/>
    </div>

    <div class="form-group has-feedback" ng-class="hasError('email')">
        <input type="email" class="form-control" name="email" ng-model="form_data['email']" placeholder="Электронная почта" ng-required="true"/>
        <ul ng-messages="register_user_form.email.$error" class="shop-form-error" ng-cloak>
            <li ng-show="register_user_form.email.$dirty" ng-message="email">Укажите правильный E-Mail</li>
            <li ng-show="register_user_form.email.$pristine" ng-message="rejected"><span ng-bind="register_user_form.email.$message"></span></li>
        </ul>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input name="preset_password" ng-init="form_data['preset_password']=true" ng-model="form_data['preset_password']" type="checkbox">Предустановленный пароль</label>
        </div>
        <p class="small">На ваш емейл будет выслан сгенерированный пароль.</p>
    </div>
    <div ng-if="!form_data.preset_password">
        <div class="form-group pendant-help-block has-feedback"  ng-class="hasError('password')">
            <div class="input-group" ng-class="hasError('password1')"> 
                <input type="password" class="form-control" name="password1" ng-minlength="6" ng-required="true" ng-model="form_data['password1']" placeholder="Пароль" ng-required="true"/>
            </div>
            <ul ng-messages="register_user_form.password1.$error" class="shop-form-error" ng-cloak>
                <li ng-message="minlength">Пароль слишком короткий</li>
                <li ng-message="rejected"><span ng-bind="register_user_form.password1.$message"></span></li>
            </ul>
            <span class="help-block">Мин. длинна: 6 символов</span>
        </div>
        <div class="form-group pendant-help-block has-feedback"  ng-class="hasError('password2')">
            <div class="input-group" ng-class="hasError('password2')">
                <input type="password" class="form-control" name="password2"  ng-minlength="6" ng-required="true" ng-model="form_data['password2']" placeholder="Повсторите пароль" ng-required="true"/>
            </div>
            <ul ng-messages="register_user_form.password2.$error" class="shop-form-error" ng-cloak>
                <li ng-message="minlength">Пароль слишком короткий</li>
                <li ng-message="rejected"><span ng-bind="register_user_form.password2.$message"></span></li>
            </ul>
            <span class="help-block"></span>
        </div>
    </div>
{% endblock %}

{% block form_footer %}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <a role="button" class="btn btn-xs btn-second btn-block" 
                        ng-click="submitForm('{% url 'myauth:register-user' %}')" 
                        ng-disabled="register_user_form.$invalid">Зарегистрироваться</a>
            </div>
        </div>
    </div>
{% endblock %}
