{% extends "feedback/forms/form-base.html" %}

{% block form_name %}feedback_form{% endblock %}

{% block form_content %}
    {{ block.super }}
    <div class="form-group pendant-help-block has-feedback" ng-class="hasError('name')">
        <input type="text" class="form-control" name="name" 
                   ng-model="form_data.name" value="" 
                   placeholder="Ваше имя" ng-required="true"/>
        <ul ng-messages="feedback_form.name.$error" class="shop-form-error" ng-cloak>
            <li ng-message="rejected"><span ng-bind="feedback_form.name.$message"></span></li>
        </ul>
    </div>

    <div class="form-group has-feedback" ng-class="hasError('email')">
        <input type="email" class="form-control" name="email" ng-model="form_data['email']" placeholder="E-Mail" ng-required="true"/>
        <ul ng-messages="feedback_form.email.$error" class="shop-form-error" ng-cloak>
            <li ng-show="feedback_form.email.$dirty" ng-message="email">Укажите правильный E-Mail</li>
            <li ng-show="feedback_form.email.$pristine" ng-message="rejected"><span ng-bind="feedback_form.email.$message"></span></li>
        </ul>
    </div>

    <div class="form-group pendant-help-block has-feedback" ng-class="hasError('phone')">
        <input type="text" class="form-control" name="phone" 
                   ng-model="form_data.phone" value="" 
                   placeholder="Номер телефона" ng-required="true"/>
        <ul ng-messages="feedback_form.phone.$error" class="shop-form-error" ng-cloak>
            <li ng-message="rejected"><span ng-bind="feedback_form.phone.$message"></span></li>
        </ul>
    </div>  

    <div class="form-group">
        <a role="button" class="btn btn-sm btn-block btn-main"
            ng-click="feedback_form.$invalid || submitForm('{% url 'feedback:camp' %}')"
            ng-disabled="feedback_form.$invalid">Отправить</a>
    </div>
{% endblock %}