<my-form ng-form name="{% block form_name %}{% endblock %}" action="{{ action }}" role="form" class="form form-style">
    {% csrf_token %}
    {% block form_content %}
        <div class="alert alert-success alert-dismissible" ng-show="success_message" ng-cloak>
            <a ng-click="dismiss()" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
            {% verbatim %}{{ success_message }}{% endverbatim %}
        </div>
        <div class="alert alert-danger  alert-dismissible" ng-show="error_message" ng-cloak>
            <a ng-click="dismiss()" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
            {% verbatim %}{{ error_message }}{% endverbatim %}
        </div>
    {% endblock%}

    {% block form_footer %}
    {% endblock %}
</my-form>