{% extends "default.html" %}
{% load sekizai_tags %}

{% block title %}Заказ №{{object.number}}{% endblock %}
{% block content %}
<section class="regular">
    <div class="skinny-sm container">
    {% for order_item in object.items.all %}
        <p class="h2 text-center">{{order_item.product.product_name}}</p>

            {% for row in order_item.extra.info %}
            <div class="row">
                <div class="col-xs-6 text-right">{{row.label}}:</div> 
                <div class="col-xs-6">{{row.value}}</div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-xs-6 text-right">Номер</div>
                <div class="col-xs-6"><strong>{{object.number}}</strong></div>
            </div>

            <div class="row">
                <div class="col-xs-6 text-right">Заказчик</div>
                <div class="col-xs-6">{{order.customer.surname}} {{order.customer.name}}</div>
            </div>

            <div class="row">
                <div class="col-xs-6 text-right">Сумма заказа</div>
                <div class="col-xs-6">{{object.subtotal}}</div>
            </div>

            <div class="row">
                <div class="col-xs-6 text-right">Статус</div>
                <div class="col-xs-6"><strong>{{order.status_name}}</strong></div>    
            </div>
    {% endfor %}
    <br/><br/>
    {% if order.status == 'awaiting_payment' %}
        <div class=" text-center">
            <a href="{% url 'shop:order-purchase' object.pk %}" class="btn btn-success">Подтвердить оплату</a>
            <a href="{% url 'shop:order-cancel' object.pk %}" class="btn btn-danger">Подтвердить оплату</a>
        </div>
    {% endif %}
    </div>
</section>
{% endblock %}