{% load thumbnail %}
{% spaceless %}
    <div class="container">
        <h2 class="section-header">{{instance.glossary.block_title}}</h2>
    </div>
    <div class="swiper-container">

        <div class="swiper-wrapper">
            {% for item in gallery_instances %}
                {% thumbnail item.image 300x300 crop as thumb %}
                <div class="swiper-slide">
                    <div class="container">
                        <div class="coach">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="image" style="background: url({{thumb.url}}) center center no-repeat;background-size: cover;"></div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8">
                                    <div class="coach__text">
                                        <h3>{{item.glossary.title}}</h3>
                                        <div>{% autoescape off %}{{ item.glossary.text }}{% endautoescape %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
{% endspaceless %}