{% extends "print/base.html" %}
{% block title %}Заказ №{{object.number}}{% endblock %}
{% block content %}
{% for order_item in object.items.all %}
    <p class="title text-center">{{order_item.product.product_name}}</p>
    <div class="row">
        <div class="col-xs-12 col-bordered">  
            <div class="description">
                <dl class="dl-horizontal">
                    {% for row in order_item.extra.info %}
                        <dt>{{row.label}}:</dt> 
                        <dd>{{row.value}}</dd>
                    {% endfor %}
                    <dt>Номер</dt>
                    <dd><strong>{{object.number}}</strong></dd>
                    <dt>Заказчик</dt>
                    <dd>{{customer.surname}} {{customer.name}}</dd>
                    <dt>Сумма заказа</dt>
                    <dd>{{object.subtotal}}</dd>
                    <dt>Статус</dt>
                    <dd><strong>Ожидается оплата</strong></dd>
                </dl>
            </div>            
        </div>
    </div>  
{% endfor %}
    <br/><br/>
    <form method="POST" action=".">
        <div class="form-group text-center">
             <button name="purchase" class="btn btn-success">Подтвердить оплату</button>
        </div>
        <div class="form-group text-center">
             <button name="cancel" class="btn btn-danger">Отменить заказ</button>
        </div>
    </form>
{% endblock %}