{% extends "account.html" %}
{% load cms_tags %}
{% block card-id %}orders{% endblock %}
{% block sub-content %}
    {% for order in items%}
        <div class="order card order--success {% if forloop.first %}order--open {% endif %}order--{{order.status}}">
            <div class="order__header">
                <div class="order__status">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
                <h5>Заказ №{{order.number}}</h5>
                <h6>от {{order.created_at|date:"d.m.y"}}</h6>
                <h4><span class="hidden-xs">Сумма заказа: </span><span class="value">{{order.subtotal}}</span></h4>
            </div>
            <div class="order__body">
                {% for order_item in order.items.all %}
                    <div class="order__body-block">
                        <h4><span class="label">Услуга: </span>{{order_item}}</h4>
                    </div>
                    <div class="order__body-block">
                        <h4><span class="label">Дополнительные сведения:</span></h4>
                        <div class="order__body-block-second">
                            {% for row in order_item.extra.info %}
                                <h5><span class="label">{{row.label}}:</span> {{row.value}}</h5>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="order__body-block order__body-status">
                    <h4>Cтатус заказа: {{ order.status_name }}</h4>
                    {% if order.status == "awaiting_payment" %}
                    <a href="{% url 'shop-yandex:redirect' order=order.pk %}" class="btn btn-main btn-md">Оплатить<span class="hidden-xs"> заказ</span></a>
                    {% endif %}
                </div>
                {% if order.status == 'payment_confirmed' %}
                <div class="order__body-block order__body-info">
                    <h4>    
                        <span class="label">Cведения об оплате: </span>
                            Оплата поступила 10 марта 2018 года в 21.23
                    </h4>
                </div>
                {% endif %}
                <div class="order__body-block order__footer">
                    <div class="pull-right">
                        {% if order.status == 'created' %}
                            <a href="{% url 'user-orders:cancel' order.pk %}" class="btn btn-xs btn-gray">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Отменить<span class="hidden-xs"> заказ</span>
                            </a>
                        {% endif %}
                        <a href="{% url 'user-orders:print' order.pk %}" class="btn btn-xs btn-gray"><i class="fa fa-print" aria-hidden="true"></i>Распечатать<span class="hidden-xs"> заказ</span></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock sub-content %}


