{% extends "account.html" %}
{% load sekizai_tags %}

{% block card-id %}orders{% endblock %}
{% block sub-content %}
    {% addtoblock "js" %}
    <script type="text/javascript">
            function loadMore(url, container, button){
                $.ajax({
                    url: url,
                    dataType : "html", 
                    success: function (data) { 
                        $(button).parent().remove();
                        $(container).append(data);
                        $('.order .order__header').on('click', function(evt) {
                            evt.preventDefault();
                            if ($(this).closest('.order').hasClass('order--open')) {
                                $(this).closest('.order').removeClass('order--open');
                            } else {
                                $(this).closest('.order').addClass('order--open');
                            }
                        });                        
                    } 
                });
            }
    </script>
    {% endaddtoblock %} 
    <div id="orders-container">
        {% if results %}
            {% include "user_orders/list.html" %}
        {% else %}
            <h2 class="section-title text-center">У вас пока нет заказов.</h2>
        {% endif %}
    </div>
{% endblock %}