{% extends "print/base.html" %}
{% load static qr_tags %}

{% block title %}Заказ №{{order.number}}{% endblock %}
{% block content %}

    {% for order_item in order.items %}
    <p class="title">{{order_item.summary.product_name}}</p>
    <div class="row row-height">
        <div class="col-xs-9 col-bordered col-height col-middle">
            <div class="description">
                <dl class="dl-horizontal">
                    {% for row in order_item.extra.info %}
                        <dt>{{row.label}}:</dt> 
                        <dd>{{row.value}}</dd>
                    {% endfor %}
                    <dt>Номер</dt>
                    <dd><strong>{{order.number}}</strong></dd>
                    <dt>Заказчик</dt>
                    <dd>{{customer.surname}} {{customer.name}}</dd>
                    <dt>Адрес</dt>
                    <dd>Санкт-Петербург, Ул. Чайковского, д 63, лит. А</dd>
                    <dt>Сумма заказа</dt>
                    <dd>{{order.subtotal}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-xs-3 qr-wrapper col-height col-middle">
                {% qr_from_object checkout 'm' %}
        </div>
    </div>
    {% endfor %}
    <br/><br/>
    <div class="row">
        <div class="col-xs-5 copyright">
             <p>Специализированная детско-юношеская школа
                Олимпийского резерва профсоюзов по фехтованию "Спартак",
                Санкт-Петербург</p>   
        </div>
        <div class="col-xs-7 about">
                <p>
                    — Этот электронный билет является подтверждением вашей оплаты участия в мероприятии. Обязательно
                    возьмите его с собой на мероприятие (в электронном и/или бумажном виде).<br> — Не передавайте и не
                    пересылайте свой электронный билет третьим лицам! Электронный билет действителен для прохода на
                    мероприятие 1 раз. В случае использования электронного билета третьим лицом ответственность за это
                    несет покупатель.<br> — Агент не несет ответственности за достоверность информации о мероприятии и
                    соответствие мероприятия ожиданиям покупателя. Всю ответственность за анонсирование, организацию и
                    проведение мероприятия, а также за возможный ущерб в случае изменения программы, переноса или отмены
                    мероприятия, несет организатор мероприятия.<br>
                </p>                        
        </div>
    </div>
    <br/>
    <img src="{% static 'img/map.png' %}" class="img-responsive"/>
    <br/><br/>
    <p class="text-center">
    <strong>spbfencing.ru</strong><br/>2017
    </p>
{% endblock %}