{% extends "email/base.html" %}
{% load static %}

{% block email-logo %}
<!--img src="{% static 'img/logo-email.png' %}" id="logo-full" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;"/-->
<img src="{% static 'img/logo-email-min.png' %}" id="logo" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;"/>
{% endblock %}
{% block email-header %}
<strong>
    <h4 style="margin: 0; font-size: 21px; line-height: 29px;"><a href="http://spbfencing.ru/" style="color: #e92b2b;">spbfencing.ru</a></h4>
    <span>тел. (812) 937-81-94</span>
</strong>
{% endblock %}
{% block email-footer %}
    <strong>
        Специализированная детско-юношеская школа<br/>
        Олимпийского резерва профсоюзов по фехтованию "Спартак",<br/>
        Санкт-Петербург.
    </strong>
{% endblock %} 