{% load thumbnail %}
{% spaceless %}
    {% thumbnail instance.image 800x400 as thumb %}
    <div class="swiper-slide">
        <div class="swiper-slide">
            <img src="{{thumb.url}}" class="image" alt="" />
        </div>
    </div>
{% endspaceless %}