{% load thumbnail %}
{% spaceless %}
    {% thumbnail instance.image 300x300 crop as thumb %}
    <div class="swiper-slide">
        <div class="container">
            <div class="coach">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="image" style="background: url({{thumb.url}}) center center no-repeat;background-size: cover;"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="coach__text">
                            <h3>{{instance.glossary.title}}</h3>
                            <div>{{ instance.glossary.text}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}