{% spaceless %}
    {% with link=instance.link image_title=instance.glossary.title %}
        <div class="image"
                {% if instance.image %}
                style="background: url({{instance.image.url}}) transparent center center no-repeat; background-size: cover; "
                {% endif %}></div>
        {% if link %}<a href="{{ link }}" class="overlay"></a>{% endif %}
        {% if image_title %}<div class="header">{{image_title}}</div>{% endif %}
    {% endwith %}
{% endspaceless %}
