{% spaceless %}
{% load cascade_tags static %}

{% if instance.child_plugin_instances|length > 0  %}
    <div class="swiper-container swiper-container-sportsmans">
        <div class="swiper-wrapper">
            {% for slide in instance.child_plugin_instances %}
                {% render_plugin slide %}
            {% endfor %}    
            {% if request.toolbar.edit_mode %}
                <div class="swiper-slide">
                    <div class="container">
                        <div class="sportsman text-center">
                            <a class="cms-add-plugin" onclick="return event.preventDefault();" ondblclick="return window.cmsModal(this, event);" href="/admin/cms/page/add-plugin/?placeholder_id={{ plugin.instance.placeholder_id}}&plugin_type=SportsmanSliderItemPlugin&cms_path={{ request.path }}&plugin_language=ru&plugin_parent={{ plugin.instance.id }}" data-rel="modal" data-on-close="REFRESH_PAGE">
                                <img src="{% static 'img/slider-add-item.png' %}" class="image"/>
                                <h2>Добавить элемент</h2>
                            </a>
                        </div>
                    </div>
                </div>        
            {% endif %}
        </div>

        {% if instance.child_plugin_instances|length > 1 or instance.child_plugin_instances|length > 0 and request.toolbar.edit_mode  %}
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        {% endif %}
    </div>
{% else %}
    <div class="swiper-container swiper-container-sportsmans">
        <div class="swiper-wrapper">  
            {% if request.toolbar.edit_mode %}
                <div class="container">
                    <div class="sportsman text-center">
                        <a class="cms-add-plugin" onclick="return event.preventDefault();" ondblclick="return window.cmsModal(this, event);"  href="/admin/cms/page/add-plugin/?placeholder_id={{ plugin.instance.placeholder_id}}&plugin_type=SportsmanSliderItemPlugin&cms_path={{ request.path }}&plugin_language=ru&plugin_parent={{ plugin.instance.id }}" data-rel="modal" data-on-close="REFRESH_PAGE">
                            <img src="{% static 'img/slider-add-item.png' %}" class="image"/>
                            <h2>Добавить элемент</h2>
                        </a>
                    </div>
                </div>       
            {% endif %}
        </div>
    </div>
{% endif %}

{% endspaceless %}