{% load thumbnail %}
{% spaceless %}
    {% thumbnail instance.image 300x300 crop as thumb %}
    <div class="swiper-slide">
        <div class="sportsman">
            <div class="image" style="background: url({{thumb.url}}) center center no-repeat;background-size: cover;"></div>
            <div class="sportsman__text">
                <h3>{{instance.glossary.title}}</h3>
                <div>{{ instance.glossary.text }}</div>
            </div>
        </div>
    </div>
{% endspaceless %}
