{% load sekizai_tags cascade_tags %}
{{ sezikai_ctx_var }}

{% addtoblock "js" %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvMSTHmXZvQexmlP5CdYt5fmVRyhS8-W0"></script>
{% endaddtoblock %}

<section class="section-map">
    <div id="map"></div>
    <div class="section-map__block">
        <div class="overlay"></div>
        <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Как нас найти?</h3>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>
</section>