{% spaceless %}
    <div class="photoswipe-wrapper">
   
        <div class="{%if not request.toolbar.edit_mode %} photoswipe-item {% endif %}">
            <a href="#" class="video" data-type="video" 
                style="background: url({{instance.image.url}}) transparent center center no-repeat; background-size: cover; "
                data-video='{% autoescape off %}<div class="wrapper"><div class="video-wrapper">{{instance.glossary.embed|safe}}</div></div>{% endautoescape %}'>
                
                <img src="http://placehold.it/960x640?text=YouTube" class="img-responsive" />
            </a>
        </div>
    </div>    
    <div href="#" class="overlay"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
{% endspaceless %}
