{% extends "default.html" %}
{% load cms_tags %}

{% block content %}
    <section id="main__section-top">
        <div class="grid grid-for-two no-mobile">
            <div>
                <div id="top__block-01" class="image-block">
                    {% placeholder "hero-col-1" %}
                </div>
            </div
            ><div>
                <div id="top__block-02">
                    {% placeholder "hero-col-2" %}
                </div>
            </div>
        </div>
    </section>
    <section id="main__section-icons">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-block"><span class="icon icon-main-01"></span></div>
                    <h3>Более 40 лет<br />в фехтовании</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-block"><span class="icon icon-main-02"></span></div>
                    <h3>Десятки олимпийских<br />чемпионов</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-block"><span class="icon icon-main-03"></span></div>
                    <h3>Находимся прямо в центре<br />Санкт-Петербурга</h3>
                </div>
            </div>
        </div>
    </section>
    {% placeholder "content" %}

{% endblock content %}
{% block map %}
{% endblock %}