{% extends "default.html" %}
{% load cms_tags menu_tags %}

{% block page_class %}
page account
{% endblock %}

{% block content %}
    <section class="section-nav-tabs">
        <div class="container">
            {% block sub-navigation %}
                <ul class="nav nav-tabs" role="tablist">
                    {% show_menu 1 100 0 1 %}
                </ul>
            {% endblock sub-navigation %}
        </div>
    </section>

    <section>
        <div class="tab-content">
            <div class="tab-pane active" id="{% block card-id %}{% endblock %}">
                <div class="card">
                    <div class="container skinny-sm">
                        {% block sub-content %}
                        {% endblock sub-content %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}