{% load static cms_tags sekizai_tags djng_tags menu_tags %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="spartak">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="robots" content="{{ ROBOTS_META_TAGS }}" />
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script>
        var ieVersion = (function() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE');
            if (msie > 0) {
                return parseInt (ua.substring(msie + 5, ua.indexOf('.', msie)));
            }
            if (ua.indexOf('Trident/7.0') + 1) {
                return 11;
            }
            return 0;
        })();
        if (ieVersion && ieVersion < 9) {
            location.href = "{% static '/legacy.html' %}";
        }
    </script>

    {% block head %}{% endblock head %}
    {% render_block "css" postprocessor "shop.sekizai_processors.compress" %}
    <!--link href="{% static 'css/sys.min.css' %}" rel="stylesheet" type="text/css" /--> 
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet" type="text/css" /> 
    
    <link href="{% static 'css/tmp.css' %}" rel="stylesheet" type="text/css" />    
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png" />

    <!--[if lt IE 10]>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
    {% cms_toolbar %}
    <!-- page content -->
    <div class="{% block page_class %}page{% endblock %} {{request.current_page.classextension.page_class}}">
        <div class="page__overlay"></div>

        <div class="page__panel">
            <nav role="navigation">
                <ul role="menu">
                    {% show_menu 0 100 100 100 %}
                </ul>
            </nav>
        </div>
        <div class="page__content">
            <header class="fixed-header">
                <div class="container">

                    <nav role="navigation">
                        <a href="#" id="panelOpen" class="hidden-lg"><span class="icon icon-navicon"></span></a>
                        <a href="#" id="panelClose" class="hidden-lg"><span class="icon icon-close"></span></a>
                        <a href="http://spbfencing.ru/" class="logo" role="banner"></a>
                        <ul class="top-menu visible-md-inline-block visible-lg-inline-block" role="menu">
                            {% show_menu 0 100 100 100 %}
                        </ul>
                        <div class="right-controls">
                            {% block navbar-auth %}{% endblock %}
                        </div>
                    </nav>
                    <div class="tablet-decor-wrapper visible-sm">
                        <div class="container-fluid">
                            <div class="tablet-decor"></div>
                        </div>
                    </div>

                </div>
            </header>

            <main role="main">

                <div class="top-menu-tablet-wrapper visible-sm">
                    <div class="container">
                        <nav role="navigation">
                            <ul class="top-menu" role="menu">
                                {% show_menu 0 100 100 100 %}
                            </ul>
                        </nav>
                    </div>
                </div>

                {% block content %}
                {% endblock content%}

            </main>

            <footer role="contentinfo">
                <div class="overlay overlay-01"></div>
                <div class="overlay overlay-02"></div>
                <div class="container">
                    {% block footer %}                   
                    {% endblock footer%}                
                </div>
            </footer>
        </div>

    </div>

    <!-- /page content -->

    <!-- System scripts init -->
    <script src="{% static 'js/libs.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/ngapps.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    {% render_block "js" postprocessor "shop.sekizai_processors.compress" %}

    <script type="text/javascript">
    angular.module('spartak', ['ngAnimate', 'ngSanitize',
        {% render_block "ng-requires" postprocessor "djng.sekizai_processors.module_list" %}
    ]).factory('is_auth', function() {
            var is_auth = {% if customer.is_authenticated %}true{% else %}false{% endif %};
            return is_auth;
    }).factory('edit_mode', function() {
            var edit_mode = {% if request.toolbar.edit_mode %}true{% else %}false{% endif %};
            return edit_mode;
    }).config(['$httpProvider', '$locationProvider', function($httpProvider, $locationProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        $locationProvider.html5Mode({
            enabled: true,
            requireBase: false,
            rewriteLinks: false
        });
    }]){% render_block "ng-config" postprocessor "djng.sekizai_processors.module_config" %};
    </script>
    <!-- /System scripts init -->

    <!-- Layout scripts init -->

    <script>
        var debug = false;
        var edit_mode = {% if request.toolbar.edit_mode %}true{% else %}false{% endif %};


        DesignLayout.init({
            debug: debug,
            edit_mode: edit_mode, 
        });

        {% if request.toolbar.edit_mode %}
            window.cmsModal = function(element, event){
                event.preventDefault();
                event.stopPropagation();
                var el = $(element);
                var modal = new window.CMS.Modal({
                    onClose: el.data('on-close')
                });

                modal.open({
                    url: el.attr('href'),
                    title: el.data('name')
                });
            }

            $('.cms-uneditable').each(function(){
                var elem = $(this);
                elem.on('dblclick.cms.plugin', function(e){e.stopPropagation()});
                elem.on('pointerover.cms.plugin pointerout.cms.plugin touchstart.cms.plugin', function(e){e.stopPropagation()});               
            });
        {% endif %}
    </script>

    <!-- /Layout scripts init -->

    {% block map %}
    {% endblock %}

    {% block photoswipe %}
    {% endblock %}
</body>
</html>