{% extends "base.html" %}
{% load cms_tags menu_tags %}


{% block navbar-auth %}
    {% if customer.is_authenticated %}  
        <div class="dropdown profile">                         
            <a href="#" class="dropdown-toggle sr-only" type="button" data-toggle="dropdown"><span class="icon icon-profile"></span></a>
            <div class="dropdown-menu pull-right">
                {% show_menu 0 100 100 100 'menu/menu.html' '' 'user' %}                                   
            </div>
        </div>
    {% else %}
        <a href="#" class="login modal-auth-trigger" ng-controller="shopAuthBtnCtrl" ng-click="openModal()"><span class="icon icon-login"></span></a>
    {% endif %}
{% endblock %}

{% block content %}

    {% placeholder "content" %}
{% endblock content %}

{% block footer %}
    <nav role="navigation">
        <address>
            {% static_placeholder "footer" %}      
        </address>
    </nav>              
{% endblock footer%} 

{% block photoswipe %}
    {% include 'parts/photoswipe.html' %}
{% endblock %}

