{% load sekizai_tags abonements_tags%}
{{ sezikai_ctx_var }}

{% addtoblock "ng-requires" %}iorderApp{% endaddtoblock %}

<div class="tickets">
    <div class="container">
        <div class="row">
            {% for abonement in abonements %}
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                    <div class="ticket card">
                        <div class="ticket__header">
                            <h4>{% autoescape off %}{{abonement.product_name}}{% endautoescape %}</h4>
                            <h5>{{ abonement.description }}</h5>
                        </div>
                        <div class="ticket__price">{{ abonement.unit_price }}</div>
                        <iorder css-class="'btn btn-sm btn-{{color_scheme}}'"
                                caption="'Купить'"
                                product-id="{{abonement.pk}}"
                                url="'{% url 'iorder:checkout' %}'"
                                quantity="1"></iorder>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>