.cms{
    z-index: 1240!important;
}
/***************************************
 * MODALS
 **************************************/
.modal-backdrop {
    z-index: 1250!important;
}
.modal {
    z-index: 1300!important;
}
/***************************************
* FORMS
****************************************/
.form-group.radio-widget > div{
    display: inline-block;
}
/***************************************
* ADMIN MARKUPS
****************************************/
.cms-toolbar-trigger{
    display: none;
}
.cms-toolbar .cms-toolbar-right{
    padding-right: 0!important;
}
.cms-ready .fixed-header{
    transition: top 200ms;
}
.cms-toolbar-expanded .fixed-header.scroll,
.cms-toolbar-expanding .fixed-header.scroll{
    top: 46px;
}
@media(max-width: 768px){
    .cms-toolbar-expanded .fixed-header{
        top: 46px;
    }
}
.btn-admin .fa{
        margin-right: 5px;
}
/**************************************
* CUSTOM
***************************************/
section.regular{
    padding: 40px 0;
}