{% extends 'default.html' %}
{% load sekizai_tags %}
{% block content %}
    {% addtoblock "ng-requires" %}myauthApp{% endaddtoblock %}
    <section class="regular">
        <div class="skinny-sm container">
            <h2>Авторизация</h2>
            {% include 'myauth/forms/signin.html' with action=request.GET.next %}
        </div>
    </section>
{% endblock %}