{% extends "default.html" %}
{% load static i18n cms_tags sekizai_tags %}

{% block content %}
    {% addtoblock "ng-requires" %}myauthApp{% endaddtoblock %}
    <section class="feedback-form">
        <div class="skinny-sm container">
            <h2>Введите новый пароль</h2>
            {% include 'myauth/forms/password-reset-confirm.html' with action='/'%}
        </div>
    </section>
{% endblock %}