{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static 'css/print.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    </head>

    <body>
        <div class="page">
            <div class="header">
                <div class="container">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="100px">
                                    <img src="{% static 'img/logo-email-min-gray.png' %}" id="logo"/>
                                </td>
                                <td class="text-right">
                                    <h4 style="margin: 0; font-size: 21px; line-height: 29px;">spbfencing.ru</h4>
                                    <span>тел. (812) 937-81-94</span>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>

</html>
