<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
    </head>
    <body onload="document.ShopForm.submit()">
        <div style="visibility: hidden">
            <form name="ShopForm" method="POST" action="https://money.yandex.ru/eshop.xml">
                {{ form.as_ul }}
                <input type="submit" value="Оплатить">
            </form>
        </div>
    </body>
</html>